{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
<div class="card">
<div class="card-body">
<h4 class="card-title">Войти в аккаунт</h4>

<form method="post">
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">

{{ form|crispy }}
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>

<button type="submit" class="btn btn-primary btn-block">Log in</button>
</form>
    Нет аккаунта? <a href="{% url 'signup' %}">Зарегистрируйтесь</a>
</div>
</div>
{% endblock %}