{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Создать новое место</h2>
    <button onclick="geo()" type="button" style="cursor: pointer">Определить геолокацию</button>
    {{ form|crispy }}

    <button type="submit">Создать</button>
</form>
<script>
    function geo() {
        navigator.geolocation.getCurrentPosition(ev => {
            document.querySelector('#id_latitude').value = ev.coords.latitude
            document.querySelector('#id_longitude').value = ev.coords.longitude
        })
    }
</script>
{% endblock %}