{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | Plames</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap" rel="stylesheet">
    <link  rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"  crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="left"></div>
            <div class="middle">
                <a href="{% url 'main:index' %}">Обзор</a>
                <a href="{% url 'main:places' %}">Мои места</a>
            </div>
            <div class="right">Привет, {{ request.user.username }}</div>
        </div>
    </header>
    <div class="container body">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>