{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <form class="search">
        <input type="text" id="searchbar" placeholder="Поиск...">
        <button type="button" id="searchbtn">Найти</button>
    </form>
    <h1 style="margin-top: 20px;">Памятные места</h1>
    <div class="memory-places">
        <div class="object">
            <a href="/add_place">
                <div class="add_place">
                    <img src="{% static 'icons/add.svg' %}" alt="">
                    <span>Добавить место</span>
                </div>
            </a>
        </div>
        {% for place in places %}
        <div class="object">
            <a href="/place/{{ place.id }}">
                <img src="{{ place.photo.url }}" alt="" class="img">
                <h2>{{ place.name }}</h2>
                {% if place.description %}
                <h5>{{ place.description }}</h5>
                {% endif %}
            </a>
        </div>
        {% endfor %}
    </div>
    <h1 style="margin-top: 20px;">Серии</h1>
    <div class="memory-places">
        <div class="object">
            <a href="/add_serie">
                <div class="add_place">
                    <img src="{% static 'icons/add.svg' %}" alt="">
                    <span>Добавить серию</span>
                </div>
            </a>
        </div>
        {% for place in places %}
        <div class="object">
            {% if place.photo.url %}
            <img src="{{ place.photo.url }}" alt="" class="img">
            {% endif %}
            <h2>{{ place.name }}</h2>
            {% if place.description %}
            <h5>{{ place.description }}</h5>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}