* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

body {
    background-color: #F5F5F4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    height: 70px;
    background-color: #44403C;
    color: #FFF;
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

header .middle {
    flex: 3;
    text-align: center;
}

header .middle a {
    margin: 0 20px;
}

header .left {
    flex: 1;
}

header .right {
    flex: 1;
    text-align: right;
}

.body {
    margin-top: 40px;
}

.search {
    display: flex;
}

.search #searchbar {
    width: 100%;
    height: 40px;
    padding: 0 13px;
    border-radius: 5px;
    border: 2px solid #C4C4C4;
    outline: none;
    /*font-weight: 600;*/
    font-size: 16px;
}

#searchbtn {
    width: 150px;
    margin-left: 20px;
    border: none;
    background-color: #6366F1;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.object {
    width: 200px;
    height: 300px;
    background-color: #FFF;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-sizing: border-box;
}

.object .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.object h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding: 5px;
}

.object h5 {
    padding: 5px 15px;
}

.object a {
    color: inherit;
}

.memory-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}