* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #F5F5F4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

header {
    height: 70px;
    background-color: #44403C;
    color: #FFF;
}

header .container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

header .middle {
    flex: 3;
    text-align: center;
}

header .middle a {
    margin: 0 20px;
}

header .left {
    flex: 1;
}

header .right {
    flex: 1;
    text-align: right;
}

.body {
    margin-top: 40px;
}

.search {
    display: flex;
}

.search #searchbar {
    width: 100%;
    height: 40px;
    padding: 0 13px;
    border-radius: 5px;
    border: 2px solid #C4C4C4;
    outline: none;
    /*font-weight: 600;*/
    font-size: 16px;
}

#searchbtn {
    width: 150px;
    margin-left: 20px;
    border: none;
    background-color: #6366F1;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

button {
    background-color: #6366F1;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 25px;
}

.object {
    width: 200px;
    height: 300px;
    color: #44403C;
    background-color: #FFF;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    box-sizing: border-box;
    overflow: hidden;
}

.object .img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.object h2 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 24px;
    padding: 5px 5px 0 5px;
}

.object h5 {
    font-size: 14px;
    padding: 0 10px;
}

.object a {
    color: inherit;
}

.memory-places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 300px;
}

.add_place {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.add_place img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.viewplace_image {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.place_label {
    color: #78716C;
    margin-bottom: 0;
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pages .page-item {
    padding: 5px 10px;
    margin: 0 6px;
    background-color: #93C5FD;
    cursor: pointer;
    outline: none;
}

.pages .page-item.chosen {
    background-color: #1E3A8A;
}

.serie_image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.serie_header {
    display: flex;
    align-items: center;
}

.place_info {
    max-width: 400px;
}

.serie-container {
    display: flex;
    min-height: 500px;
    align-items: center;
    justify-content: space-between;
}

.serie-container .middle {
    width: 100%;
}

.arrow {
    color: #6366F1;
    font-weight: 700;
    font-size: 36px;
    margin: 0 20px;
    cursor: pointer;
}

.arrow.inactive {
    color: #44403C;
    cursor: default;
}

.header_a {
    color: black;
    transition: 0.1s;
}

.header_a:hover {
    color: #44403C;
    transition: 0.1s;
}

.serie-h-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serie-h-header .middle {
    flex: 1;
}

.serie-h-header .right {
    text-align: right;
}

.delete-from-serie-btn {
    font-size: 14px;
    background-color: #EF4444;
    cursor: pointer;
}

.serie-h-header .left, .right {
    flex: 1;
}

.place-container {
    display: flex;
    justify-content: space-between;
}

.serie-place-flex {
    display: flex;
    justify-content: space-between;
}

.flex-header-place {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form a {
    color: black;
}